<div class="container">
  <div class="columns is-gapless nav-links">
    <div class="column is-flex">
    {% for p in taxonomy.findTaxonomy({'category':'menu-item'}) %}
      <li>
        <a href="{{ p.url }}" class="nav-link level is-mobile">
            {{ p.menu }}
        </a>
      </li>
    {% endfor %}
    </div>
  </div>
  <div class="column is-one-quarter"></div>
</div>
