<div class="container">
  <div class="columns is-gapless nav-links">
    <div class="column is-flex">
    {% for p in taxonomy.findTaxonomy({'category':'menu-item'}) %}
      <a href="{{ p.url }}" class="nav-link level is-mobile">
          <p>{{ p.menu }}</p>
      </a>
    {% endfor %}
    </div>
  </div>
  <div class="column is-one-quarter"></div>
</div>
